/* *
  |============================
  | include css partials with
  | default @import url()
  |============================
/* */

ul,
ol {
  list-style: none;
}
.form-input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 0;
  padding-left: 16px;
  border: 1px solid #808080;
}
.form-input:hover {
  border: 1px solid #000;
}
.form-input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 44px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.search-form {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
}
.gallery-item {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}
.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.info-image {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
}
.info-image-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* css loader */
.hidden {
  display: none;
  opacity: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: (-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
